.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}

.hr-line {
  width: 80%;
  /* 수평선이 전체 너비를 차지하도록 설정 */
  border: none;
  /* 기본 테두리를 제거합니다. */
  border-top: 1px solid black;
  /* 수평선의 스타일을 설정합니다. */
  margin-bottom: 20px;
  /* 제목 아래 여백을 추가합니다. */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}